.PrimaryView {
    height: 100%;
}

.Grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 2rem;

    background-color: #f4ebee;
}

.Navbar {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: -3;

    background-color: #f9eef2;
    border-radius: 2rem;
    filter: drop-shadow(0 0 1rem #00000050);
}

.Main {
    grid-column-start: 4;
    grid-column-end: -2;
    grid-row-start: 2;
    grid-row-end: -2;
}
